$blue-color: rgb(146, 148, 113);
$border-color: rgb(221, 220, 223);
$margin-size: 10px;

.recommended-card-header {
  margin-top: -0.5em !important;
}

.recommended-card-header-location {
  border-bottom: solid $border-color 1px;
  border-right: solid $border-color 1px;
  font-size: 17px;
  font-weight: bold;
  color: #616161;
}

.recommended-card-header-icon {
  border-bottom: solid $border-color 1px;
  font-size: 25px;
  text-align: center;
}

.recommended-fix-push-down {
  padding-top: 0.5em;
}

.recommended-card-content {
  margin-top: -0.5em !important;
  padding-bottom: 11px !important;
  padding-top: 10px !important;
  padding-left: 4px;
  border-bottom: solid $border-color 1px;
}

.recommended-card-remove-button {
  height: 2em;
  font-size: 12px;
}

.recommended-card-footer .col {
  padding: 0 !important;
  margin-top: 10px !important;
}